@import url('../../CSS/Fonts/Roboto.css');

@media (min-width: 375px) {
  .score {
    font: 100%/1.5 'Roboto', Verdana, sans-serif;
    color: #00a4a1;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .score {
    font-size: 1.5rem;
  }
}

