.card {
  height: fit-content;
  width: 4rem;
  border: 1px solid black;
  border-radius: 0.8rem;
  margin-right: 1rem;

  /* animation-duration: 1; */
  animation-iteration-count: 1;
}

.hand {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/*height may need to be re-adjusted for hidden card to be responsive*/
.hidden-card {
  height: 6.3rem;
  width: 4rem;
  border: 1px solid black;
  border-radius: 0.8rem;
  margin-right: 1rem;
  background-color: black;

  /* animation-duration: 1; */
  animation-iteration-count: 1;
}
