@import url('../../CSS//Fonts/Roboto.css');

@media (min-width: 375px) {
  .logo-container {
    display: flex;
    justify-content: center;

    /*animation*/
    animation-duration: 1s;
    animation-delay: 1s;
  }

  #title {
    font: 350%/1.5 'Roboto', Verdana, sans-serif;
    margin: 0;
    background: -webkit-linear-gradient(#d499ff, #00a4a1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #logo {
    margin-top: 1.5rem;
    height: 3rem;
    width: 3rem;
  }

  .play-button {
    height: 3rem;
    width: 7.5rem;
    border: 1px solid #00a4a1;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0.5rem 5px rgb(116, 113, 113);
    font: 100%/1.5 'Roboto', Verdana, sans-serif;
    color: #532577;

    /*animation*/
    animation-duration: 1s;
    animation-delay: 1.5s;
  }

  .play-button:hover {
    background-color: rgb(202, 202, 202);
  }

  .play-button:active {
    /*press down effect*/
    transform: translateY(8px);
  }
}
